public/images/projects/20 Talks.json
{
  "name": "20 Talks",
  "nodes": [
    {
      "parameters": {
        "url": "=https://www.20hoursfor20talk.com.au/api/participantsevents?event_id={{ $json[\"Event ID\"] }}&format=json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        528
      ],
      "id": "8d54d4c6-59ff-4a9f-a31b-0967cdd82229",
      "name": "HTTP Request3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "QJLp5QdMU5BcCBXn",
          "name": "20 hours"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1120,
        528
      ],
      "id": "e7034a3a-1ec5-4538-82d0-124c0476c97f",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "url": "=https://www.20hoursfor20talk.com.au/api/participants/{{ $json.member_id }}?format=json&event_id={{ $json[\"event_id\"] }}\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        528
      ],
      "id": "2532b349-f376-4813-9251-cbea860a2633",
      "name": "HTTP Request4",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "QJLp5QdMU5BcCBXn",
          "name": "20 hours"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\nconst normalize = v => String(v ?? \"\").trim();\n\n// Identify sheet rows (they have row_number from Google Sheets)\nconst sheetRows = items.filter(i => i.row_number !== undefined);\n\n// Identify API rows (they DO NOT have row_number)\nconst apiRows = items.filter(i => i.row_number === undefined && i.member_id);\n\n// Build existing member_id set\nconst existingIds = new Set(\n  sheetRows\n    .map(r => normalize(r.member_id))\n    .filter(id => id)\n);\n\n// Filter API rows\nconst newRows = apiRows.filter(r => {\n  const id = normalize(r.member_id);\n  return id && !existingIds.has(id);\n});\n\n// Output only new ones\nreturn newRows.map(r => ({ json: r }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2192,
        784
      ],
      "id": "51bb855d-adfd-40ea-a503-a0d8d120465b",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1568,
        592
      ],
      "id": "133196b6-9dc0-4dbd-a8ad-fcf8e095a1ca",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1F0Y90sbqigf8o_B_vaThiy1vilC1dlk0xCP-LAWbBlg",
          "mode": "list",
          "cachedResultName": "20talks Events",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F0Y90sbqigf8o_B_vaThiy1vilC1dlk0xCP-LAWbBlg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 66571096,
          "mode": "list",
          "cachedResultName": "March Events",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F0Y90sbqigf8o_B_vaThiy1vilC1dlk0xCP-LAWbBlg/edit#gid=66571096"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        864
      ],
      "id": "2b263bb7-be6d-465b-bfc6-769212447fef",
      "name": "Google Sheets",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ok0eyzrk1TDDt1E3",
          "name": "Charlie Google Sheet"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1968,
        768
      ],
      "id": "42f93f9b-490a-42f3-9ffd-9fc5b1bf7833",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1F0Y90sbqigf8o_B_vaThiy1vilC1dlk0xCP-LAWbBlg",
          "mode": "list",
          "cachedResultName": "20talks Events",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F0Y90sbqigf8o_B_vaThiy1vilC1dlk0xCP-LAWbBlg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1199856096,
          "mode": "list",
          "cachedResultName": "To Be Cleaned",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F0Y90sbqigf8o_B_vaThiy1vilC1dlk0xCP-LAWbBlg/edit#gid=1199856096"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "member_id": "={{ $json.member_id }}",
            "m_fname": "={{ $json.m_fname }}",
            "m_lname": "={{ $json.m_lname }}",
            "m_email": "={{ $json.m_email }}",
            "m_username": "={{ $json.m_username }}",
            "m_dob": "={{ $json.m_dob }}",
            "m_language": "={{ $json.m_language }}",
            "m_phone_mobile": "={{ $json.m_phone_mobile }}",
            "m_phone_mobile_suffix": "={{ $json.m_phone_mobile_suffix }}",
            "m_emergency_contact": "={{ $json.m_emergency_contact_alt }}",
            "m_emergency_contact_alt": "={{ $json.m_emergency_contact_type }}",
            "m_emergency_contact_type": "={{ $json.m_emergency_contact_type }}",
            "m_emergency_phone": "={{ $json.m_emergency_phone }}",
            "m_medical_conditions": "={{ $json.m_medical_conditions }}",
            "date_created": "={{ $json.date_created }}",
            "m_optout_sms": "={{ $json.m_optout_sms }}",
            "m_status": "={{ $json.m_status }}",
            "m_optin": "={{ $json.m_optin }}",
            "EventID": "1084"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "member_id",
              "displayName": "member_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "charity_id",
              "displayName": "charity_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "member_hash",
              "displayName": "member_hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "member_login_token",
              "displayName": "member_login_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "related_member_id",
              "displayName": "related_member_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_rego_number",
              "displayName": "m_rego_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fbuser_id",
              "displayName": "fbuser_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fbuser_pic",
              "displayName": "fbuser_pic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "google_user_id",
              "displayName": "google_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "apple_user_id",
              "displayName": "apple_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_status_type",
              "displayName": "m_status_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_title",
              "displayName": "m_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_fname",
              "displayName": "m_fname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "m_lname",
              "displayName": "m_lname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "m_lname_prefix",
              "displayName": "m_lname_prefix",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_middle",
              "displayName": "m_middle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_maiden",
              "displayName": "m_maiden",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_email",
              "displayName": "m_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "m_username",
              "displayName": "m_username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "m_pass",
              "displayName": "m_pass",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_dob",
              "displayName": "m_dob",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "m_gender",
              "displayName": "m_gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_language",
              "displayName": "m_language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "m_address_unit",
              "displayName": "m_address_unit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_address_number",
              "displayName": "m_address_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_address_street",
              "displayName": "m_address_street",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_address_2",
              "displayName": "m_address_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_address_suburb",
              "displayName": "m_address_suburb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_address_city",
              "displayName": "m_address_city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_address_pcode",
              "displayName": "m_address_pcode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_address_state",
              "displayName": "m_address_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_address_country",
              "displayName": "m_address_country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_address_dpid",
              "displayName": "m_address_dpid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_address_barcode",
              "displayName": "m_address_barcode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "kw_address",
              "displayName": "kw_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "postal_is_same",
              "displayName": "postal_is_same",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_postal_unit",
              "displayName": "m_postal_unit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_postal_number",
              "displayName": "m_postal_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_postal_street",
              "displayName": "m_postal_street",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_postal_address_2",
              "displayName": "m_postal_address_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_postal_suburb",
              "displayName": "m_postal_suburb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_postal_city",
              "displayName": "m_postal_city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_postal_pcode",
              "displayName": "m_postal_pcode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_postal_state",
              "displayName": "m_postal_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_postal_country",
              "displayName": "m_postal_country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_postal_dpid",
              "displayName": "m_postal_dpid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_postal_barcode",
              "displayName": "m_postal_barcode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_phone_home",
              "displayName": "m_phone_home",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_phone_work",
              "displayName": "m_phone_work",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_phone_mobile",
              "displayName": "m_phone_mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "m_phone_mobile_suffix",
              "displayName": "m_phone_mobile_suffix",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "m_emergency_contact",
              "displayName": "m_emergency_contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "m_emergency_contact_alt",
              "displayName": "m_emergency_contact_alt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "m_emergency_contact_type",
              "displayName": "m_emergency_contact_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "m_emergency_phone",
              "displayName": "m_emergency_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "m_medical_conditions",
              "displayName": "m_medical_conditions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "participated_prior",
              "displayName": "participated_prior",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_photo",
              "displayName": "m_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_coverphoto_personal",
              "displayName": "m_coverphoto_personal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_background",
              "displayName": "m_background",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_insupport",
              "displayName": "m_insupport",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_codeblock_personal",
              "displayName": "m_codeblock_personal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_codeblock_personal_mobile",
              "displayName": "m_codeblock_personal_mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_confirmation_sent",
              "displayName": "m_confirmation_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_reminder_sent",
              "displayName": "m_reminder_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_donation_sent",
              "displayName": "m_donation_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_goal_sent",
              "displayName": "m_goal_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_alert_donation",
              "displayName": "m_alert_donation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_alert_triggers",
              "displayName": "m_alert_triggers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_agreed_waiver",
              "displayName": "m_agreed_waiver",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_name_alt",
              "displayName": "m_name_alt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_gallery_title",
              "displayName": "m_gallery_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_gallery_copy",
              "displayName": "m_gallery_copy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_ranking_overall_on",
              "displayName": "m_ranking_overall_on",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_ranking_team_on",
              "displayName": "m_ranking_team_on",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "agree_site_terms",
              "displayName": "agree_site_terms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "participated_before",
              "displayName": "participated_before",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "agree_to_pay",
              "displayName": "agree_to_pay",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "agree_over_18",
              "displayName": "agree_over_18",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "agree_to_fundraise",
              "displayName": "agree_to_fundraise",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_company",
              "displayName": "m_company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_company_matchgiving",
              "displayName": "m_company_matchgiving",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_position",
              "displayName": "m_position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_bio",
              "displayName": "m_bio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_shirt_size",
              "displayName": "m_shirt_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "referal",
              "displayName": "referal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_mobile",
              "displayName": "is_mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "optin",
              "displayName": "optin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_optin",
              "displayName": "m_optin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "m_optin_text",
              "displayName": "m_optin_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_optin_date",
              "displayName": "m_optin_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_optin_email",
              "displayName": "m_optin_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_optin_sms",
              "displayName": "m_optin_sms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_optin_post",
              "displayName": "m_optin_post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_optin_phone",
              "displayName": "m_optin_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_external_optout",
              "displayName": "m_external_optout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_external_optout_date",
              "displayName": "m_external_optout_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_optout_triggers",
              "displayName": "m_optout_triggers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_optout_triggers_date",
              "displayName": "m_optout_triggers_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "EventID",
              "displayName": "EventID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gateway_customer_ref",
              "displayName": "gateway_customer_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_status",
              "displayName": "m_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_logged_in",
              "displayName": "last_logged_in",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "login_attempts",
              "displayName": "login_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_login_attempt",
              "displayName": "last_login_attempt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ecrm_last_synced_date",
              "displayName": "ecrm_last_synced_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "scrm_last_synced_date",
              "displayName": "scrm_last_synced_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_optout_email",
              "displayName": "m_optout_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_optout_sms",
              "displayName": "m_optout_sms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_updated",
              "displayName": "last_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_created",
              "displayName": "date_created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2416,
        784
      ],
      "id": "814a6857-d005-4a2e-bba3-e709362d9e6c",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "B0Mpqr4p66HpNVuj",
          "name": "Google Sheets account (Charlie)"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1F0Y90sbqigf8o_B_vaThiy1vilC1dlk0xCP-LAWbBlg",
          "mode": "list",
          "cachedResultName": "20talks Events",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F0Y90sbqigf8o_B_vaThiy1vilC1dlk0xCP-LAWbBlg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2037819860,
          "mode": "list",
          "cachedResultName": "Event List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F0Y90sbqigf8o_B_vaThiy1vilC1dlk0xCP-LAWbBlg/edit#gid=2037819860"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Active"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        608
      ],
      "id": "f9f37dd1-f70d-4865-ae93-cf918928a183",
      "name": "Get Event List",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ok0eyzrk1TDDt1E3",
          "name": "Charlie Google Sheet"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        528
      ],
      "id": "7307e889-9eaa-4f4a-9e12-91dfd3b93a3d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const eventId = $json.event_id || $json[\"Event ID\"];\n\nreturn $json.data.map(p => ({\n  json: {\n    ...p,\n    event_id: eventId\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        1168
      ],
      "id": "69887ad4-e811-4ebc-8a9a-7b8621b8499e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "=https://www.20hoursfor20talk.com.au/api/events/1085\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        1184
      ],
      "id": "6d6ec8b2-2ada-479b-bd44-daab9e9a0d6d",
      "name": "Event Info",
      "credentials": {
        "httpHeaderAuth": {
          "id": "QJLp5QdMU5BcCBXn",
          "name": "20 hours"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -288,
        320
      ],
      "id": "7c203cc6-5008-4dea-a7fc-81e96565b9aa",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://www.20hoursfor20talk.com.au/api/participantsevents?member_id={{ $json.member_id }}&format=json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        1632
      ],
      "id": "1af1a7c9-44f1-4a6d-b8c8-7a430e949bba",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "QJLp5QdMU5BcCBXn",
          "name": "20 hours"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1F0Y90sbqigf8o_B_vaThiy1vilC1dlk0xCP-LAWbBlg",
          "mode": "list",
          "cachedResultName": "20talks Events",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F0Y90sbqigf8o_B_vaThiy1vilC1dlk0xCP-LAWbBlg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 66571096,
          "mode": "list",
          "cachedResultName": "March Events",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F0Y90sbqigf8o_B_vaThiy1vilC1dlk0xCP-LAWbBlg/edit#gid=66571096"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "event_id"
            },
            {
              "lookupColumn": "First message sent"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        464,
        1712
      ],
      "id": "31aba9fc-179b-4c60-b5de-97684dfc0e04",
      "name": "Get Event List1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ok0eyzrk1TDDt1E3",
          "name": "Charlie Google Sheet"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        880,
        1632
      ],
      "id": "c0d9f585-0940-492f-aa64-16186eea70f7",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        304,
        1984
      ],
      "id": "a2361a47-8889-4e44-8932-4c26dd735487",
      "name": "Schedule Trigger1",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        736
      ],
      "id": "048c4301-cc05-4eb2-bb42-c22aa86b2b76",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1344,
        1584
      ],
      "id": "1f39d72c-d4cc-467e-9443-86a495271eca",
      "name": "Split Out4"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.data;\nconst parsed = JSON.parse(raw);\n\n// Filter desired events\nconst filtered = parsed.data.filter(r =>\n  [\"1084\", \"1085\"].includes(r.event_id)\n);\n\n// Combine into one string\nconst combinedEventIds = filtered.map(r => r.event_id).join(\",\");\n\nreturn [{\n  json: {\n    member_id: parsed.data[0].member_id,\n    event_ids: combinedEventIds\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        1616
      ],
      "id": "3578b45b-d17c-4ef9-bf15-dbbeb01cfea2",
      "name": "Code in JavaScript3",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1F0Y90sbqigf8o_B_vaThiy1vilC1dlk0xCP-LAWbBlg",
          "mode": "list",
          "cachedResultName": "20talk Event AI SMS - March",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F0Y90sbqigf8o_B_vaThiy1vilC1dlk0xCP-LAWbBlg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 66571096,
          "mode": "list",
          "cachedResultName": "March Events",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F0Y90sbqigf8o_B_vaThiy1vilC1dlk0xCP-LAWbBlg/edit#gid=66571096"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "member_id": "={{ $json.member_id }}",
            "event_id": "={{ $json.event_ids }}"
          },
          "matchingColumns": [
            "member_id"
          ],
          "schema": [
            {
              "id": "member_id",
              "displayName": "member_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "event_id",
              "displayName": "event_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "history_id",
              "displayName": "history_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "opt_sms",
              "displayName": "opt_sms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fundraising_target",
              "displayName": "fundraising_target",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "total_raised",
              "displayName": "total_raised",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "percent",
              "displayName": "percent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "opt_in",
              "displayName": "opt_in",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "m_status",
              "displayName": "m_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_fundraising",
              "displayName": "is_fundraising",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CleanPhone",
              "displayName": "CleanPhone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Milestone",
              "displayName": "Last Milestone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Reminder",
              "displayName": "Last Reminder",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Conversation",
              "displayName": "Conversation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_escalated_at",
              "displayName": "last_escalated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_situation",
              "displayName": "last_situation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "First message sent",
              "displayName": "First message sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1808,
        1616
      ],
      "id": "8d174ab5-4ba6-4925-9e22-e62bbe5fd84d",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qKPyZFEknmbzHvBZ",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Event List": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        []
      ]
    },
    "Event Info": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Event List1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Event List",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out4": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c8bcd402-46fc-4883-b937-b85f093c011f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e9f1c5f0c54cd43024eba058d890f6e685a18f6645dce0f6a7b193b2d61abf58"
  },
  "nodeGroups": [],
  "id": "Ljy5M1YMBqBjkXJp",
  "tags": []
}